<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamwork.goodVibrations"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" ></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" ></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" ></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" ></uses-permission> 
    
    <uses-sdk android:minSdkVersion="7" />
    
    <application
        android:label="@string/applicationName"
        android:icon="@drawable/icon">
        <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
        <activity
            android:name=".GoodVibrationsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="serviceDataMessage" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MapSelector"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".TriggerDisplayActivity" 
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".FunctionDisplayActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".FunctionEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <activity android:name=".TriggerEditActivity"
            android:theme="@android:style/Theme.NoTitleBar" />      	
        <activity android:name=".TimeTriggerEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".TimeTriggerSetDaysActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".TimeTriggerSetTimesActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".TimeTriggerSetDaysActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".LocationTriggerEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".SetFunctionsActivity" 
            android:theme="@android:style/Theme.NoTitleBar"/>
        
        <service android:name=".GoodVibrationsService"></service>
        
    </application>

</manifest>
