<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamwork.goodVibrations"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application>
        <activity
            android:name=".GoodVibrationsActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="TriggerDisplayActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name="FunctionDisplayActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name=".FunctionEditActivity" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        
        <service android:name=".GoodVibrationsService"></service>
        
    </application>

</manifest>
